body {
	text-align:center;
	color:white;
	background-color:white;
	font-size:10px;
	font-family:sans-serif;
	padding-top:50px
}

div.chords {
	width=100%
}

table {
	margin-left:auto;
	margin-right:auto;
	width:250px
}

input {
	text-align:center;
	font-size:12px;
	width:50px
}

#play {
	font-size:16px;
	width:75px;
	color:black
}

#play:disabled {
	color:dimgray
}

td {
	padding:5px
}

.slidecontainer {
	width: 100%; /* Width of the outside container */
	margin-left: 14px;
  }
  
  /* The slider itself */
  .slider {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 15%; /* Full-width */
	height: 25px; /* Specified height */
	background: #d3d3d3; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
	opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background: #4CAF50; /* Green background */
	cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background: #4CAF50; /* Green background */
	cursor: pointer; /* Cursor on hover */
  }

  body {
    padding: 2rem;
    font-family: 'Just Another Hand', cursive;
    background: #f3f3f3;
}

#teste {
    padding: 4rem 8rem;
    display: inline-block;
    border: 3px solid #333333;

    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    background: #ffffff;
    position: relative;
    
}